#home-nav-bar {
    .d-flex {
        justify-content: space-between;
    }
    ul,li, li>button {
        height: 100%;
        color: darkgray;
        border: none;
        outline:none;
        &:hover {
            border: none;
            outline:none;
        }
        &.active {
            color: white;
            background: none;
            border:none;
            outline: none;
        }
    }
}

.nav-router-outlet {
    background: rgb(14 18 39);
}